mat-card {
  padding: 20px;
}

textarea { 
  width: 100%;
}

button {
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin-bottom: 1rem;
}

.image-preview img {
  height: 100%;
}

.image-picker {
  margin-bottom: 1rem;
}